:root {
    --color: #ffdd00;
    --colorbt: #ffd900;
    --colorblk: #252525;
    --colorp: #f3f3f3;
}

html {
    font: 400 62.5% "Inter", sans-serif;

}

body {
    margin: 0;
    
}

.container-fixed{
    position: sticky;
    top: 0;
    
}

.container-padd{
   padding-top: 7rem;
}
.container {
    max-width: 127.6rem;
    margin: auto;
}

.wrapperContainer-hero {
    background-image: linear-gradient(white, rgb(252, 252, 48));
}

.wrapperContainer-dark {
    background-color: var(--colorblk);
}

.wrapperContainer-dark2 {
    background-color: #003464;
}

.wrapperContainer-light {
    background-color: rgb(241, 241, 241);
}

.header-top {
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 1rem;
    
}

.menu {
    list-style-type: none;
}

.menu li {
    display: inline-block;
}


.menu a {
    text-decoration: none;
    color: var(--color);
    font-size: 1.5em;
    border: 1px solid var(--color);
    padding: 1rem 2rem;
    margin-left: .3em;
    transition-timing-function: linear;
    transition-property: color, border, background-color;
    transition-duration: .5s;
}

.menu a:hover {
    color: white;
    border: 1px solid white;
    background-color: black;
}


.section-top {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.section-top h1 {
    font-size: 4.5em;
    letter-spacing: .2rem;
    line-height: 1.1;

}

.section-top span {
    text-transform: uppercase;
}

.btn {
    background-color: var(--colorbt);
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.7rem;
    padding: 1rem 2em;
    border-radius: .2em;
    display: inline-block;

}

.tlt {
    margin: 0;
    padding: 2em;
    font-size: 2.5em;
    text-align: center;
}

.content-course {
    text-align: center;
}

.list-item-card {
    display: flex;
    justify-content: center;
}

.card {
    margin: 1rem;
    background-color: white;
    border-radius: .5rem;
    border: 1px solid rgb(237, 237, 237);
}

.box {
    width: 30em;
    margin: 3em 2.5em 3.5em;
    text-align: left;
}

.box p {
    font-size: 1.4rem;
    color: rgb(97, 97, 97);
}

.box h3 {
    font-size: 1.9em;
    font-weight: bold;
}


.btn2 {
    display: inline-block;
    margin: 50px 0;
}


.school {
    color: var(--colorp);
    display: flex;
    justify-content: space-around;
    
}

.school article {
    width: 40em;
}

.school p {
    font-size: 1.5em;
    line-height: 1.5;
}

.school h2 {
    font-size: 3rem;
    margin: 1.5em 0 2em;
}

.location address {
    font-size: 1.7em;
    line-height: 1.5;
    font-style: normal;
    text-align: right;
    padding: .6em 0;
}

.location img {
    width: 80%;
}

footer {
    background-color: var(--colorblk);
    color: white;
    text-align: center;
    font-size: 1.5em;
    padding: 2em;
}

.linkname{
    color: inherit;
}